.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
} 

.font-louis {
  font-family: 'louis';
}

.page-container {
  color: rgb(255,255,255,.83);
  position: relative;
  z-index: 2;
  font-family: 'louis';
}

.page-arrow-left {
  font-size: 2rem;
  position: fixed;
  height: 100vh;
  left: 2rem;
  display: flex;
  align-items: center;
  z-index: 4;
}

.page-arrow-left > i, .page-arrow-right > i {
  color: rgb(8, 8, 8);
  background-color: rgb(75, 74, 74);
  border-radius: 25px;
  padding: 1.5px;
}

.page-arrow-left > i:hover, .page-arrow-right > i:hover {
  background-color: rgb(184, 180, 180);
}

.page-arrow-right {
  color: #FFFFFF;
  font-size: 2rem;
  position: fixed;
  height: 100vh;
  right: 2rem;
  display: flex;
  align-items: center;
  z-index: 4;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
  z-index: 5;
}

.body-content {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.social-icons {
  padding: 2rem;
  position: fixed;
  left: 0;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.social-icons > i {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.bottom-links-container {
  position: fixed;
  bottom: 3rem;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 5;
}

.bottom-links {
  display: flex;
  border-bottom: 1.75px solid rgb(48, 47, 47);
}

.bottom-link {
  margin: -2px 1.5rem;
  padding: 1rem 1rem;
  letter-spacing: 1.5px;
}

.bottom-link:hover {
  border-bottom: 1.75px solid white;
}

.link-active {
  border-bottom: 1.75px solid white;
}

/* -- HOME PAGE -- */

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

}

.home-page > span:nth-child(1) {
  position: relative;
  left: 3rem;
  font-size: 20px;
}

.home-page > span:nth-child(2) {
  font-size: 64px;
}

.home-page > span:nth-child(3) {
  font-size: 20px;
  position: relative;
  left: 11rem;
}

/*-- ABOUT ME --*/

.about-page {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
}

.about-row-one {
  display: flex;
}

.about-row-two {
  display: flex;
  position: relative;
  top: -142px;
}

.about-row-three {
  display: flex;
  position: relative;
  top: -284px;
}

.hexagon-img1:hover > .about-text1 {
  animation: FadeIn 1s forwards;
}

.about-text1 {
  width: 100%;
  height: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  padding: 2rem;
}

.hexagon-img2:hover > .about-text2 {
  animation: FadeIn 1s forwards;
}

.about-text2 {
  width: 100%;
  height: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  padding: 2rem;
}

.hexagon-img3:hover > .about-text3 {
  animation: FadeIn 1s forwards;
}

.about-text3 {
  width: 100%;
  height: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  padding: 2rem;
}

.hexagon-img4:hover > .about-text4 {
  animation: FadeIn 1s forwards;
}

.about-text4 {
  width: 100%;
  height: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  padding: 2rem;
}

.hexagon-img5:hover > .about-text5 {
  animation: FadeIn 1s forwards;
}

.about-text5 {
  width: 100%;
  height: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  padding: 2rem;
}

.hexagon-img6:hover > .about-text6 {
  animation: FadeIn 1s forwards;
}

.about-text6 {
  width: 100%;
  height: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  padding: 2rem;
}

.hexagon-img7:hover > .about-text7 {
  animation: FadeIn 1s forwards;
}

.about-text7 {
  width: 100%;
  height: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  padding: 2rem;
}

.hexagon-img8:hover > .about-text8 {
  animation: FadeIn 1s forwards;
}

.about-text8 {
  width: 100%;
  height: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  padding: 2rem;
}

.hexagon-img9:hover > .about-text9 {
  animation: FadeIn 1s forwards;
}

.about-text9 {
  width: 100%;
  height: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  padding: 2rem;
}

@keyframes FadeIn {
  from {
    display: none;
    background-color: rgb(0,0,0,0);
  }
  to {
    display: flex;
    color: #FFFFFF;
    background-color: rgb(0,0,0,0.5);
  }
}

.hexagon {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
}

.hexagon1 {
  width: 200px;
  height: 400px;
  margin: -80px 0 0 5px;
}
  
.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
}
  
.hexagon-img1 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('/public/images/about/one.jpg');
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  background-size: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon-img2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('/public/images/about/two.jpg');
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  background-size: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon-img3 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('/public/images/about/three.jpg');
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  background-size: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon-img4 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('/public/images/about/four.jpg');
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  background-size: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon-img5 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('/public/images/about/five.jpg');
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  background-size: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon-img6 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('/public/images/about/six.jpg');
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  background-size: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon-img7 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('/public/images/about/seven.jpg');
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  background-size: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon-img8 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('/public/images/about/eight.jpg');
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  background-size: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon-img9 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('/public/images/about/nine.jpg');
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  background-size: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  position: relative;
  left: 650px;
  width: 300px;
  height: 400px;
  background-color: rgb(10, 10, 10);
  letter-spacing: 1.5px;
  transition-duration: 1s;
}

.portfolio-card:hover {
  filter: brightness(200%) !important;
  transition-duration: 1s;
}

.portfolio-card:nth-child(5):hover {
  filter: brightness(100%) !important;
}

.portfolio-card:nth-child(1) {
  box-shadow: 5px 5px 10px rgb(0,0,0,0.9);
  filter: brightness(200%);
}

.portfolio-card:nth-child(4) {
  background-color: transparent;
  height: 100px;
}

.portfolio-card:nth-child(5) {
  background-color: transparent;
  width: 600px;
  height: auto;
}

@keyframes ScaleLarge {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

@keyframes ScaleSmall {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}

@keyframes Left80 {
  to {
    left: 80%;
  }
}

@keyframes Left60 {
  from {
    left: 80%;
  }
  to {
    left: 60%;
  }
}

@keyframes Left40 {
  from {
    left: 60%;
  }
  to {
    left: 40%;
  }
}

@keyframes Left20 {
  from {
    left: 40%;
  }
  to {
    left: 20%;
  }
}

@keyframes Left0 {
  from {
    left: 20%;
  }
  to {
    left: 0%;
  }
}

@keyframes Right20 {
  from {
    left: 80%;
  }
  to {
    right: 20%;
    }
}

.other-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.other-projects > span {
  border-left: 2px solid white;
  padding-left: 1rem;
  font-size: 25px;
  font-weight: bold;
  padding: 1rem;
}

.other-projects > span > i {
  font-size: 25px;
  margin-left: 1rem;
}

.projects-container {
  display: flex;
}

.project-column {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.project-item {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, rgb(48, 48, 48), rgb(10, 10, 10));
  padding: 1rem;
  font-size: 10px;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
  position: relative;
}

.project-content {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}

.project-content > span {
  padding: .25rem;
}

.project-content > span:nth-child(1) {
  font-size: 11px;
  font-weight: bold;
}

.project-hover {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  transition-duration: 1.5s;
  margin-bottom: 10px;
}

.project-hover > i {
  margin: .5rem;
  font-size: 20px;
}

.project-hover > i:hover {
  color: rgb(99, 99, 99);
  transition-duration: 1s;
}

.project-hover:hover {
  color: white;
  background-color: rgba(36, 36, 36, 0.5);
  backdrop-filter: blur(3px);
}

/* .project-hover:hover + .project-content {
  filter: blur(1);
} */

.portfolio-card-img > img {
  object-fit: contain;
  width: 100%;
}

.portfolio-card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  font-size: 12px;
  height: 100%;
}

.portfolio-card-links > i {
  padding: 1rem 0.5rem;
  font-size: 20px;
}

.portfolio-card-links > i:hover {
  color: rgb(99, 99, 99);
  transition-duration: 1s;
}

.card-dots {
  display: flex;
  align-items: center;
}

.card-dot {
  margin: .5rem;
  background-color: rgb(65, 64, 64);
  border-radius: 25px;
  color: rgb(65, 64, 64);
  font-size: 12px;
}

.active-dot {
  font-size: 15px;
  color: rgb(255,255,255,0.5);
  background-color: rgb(97, 97, 97);
}

.card-dot:hover {
  color: rgb(255,255,255,0.5);
}

@media screen and (max-width: 600px) {
  .hexagon1 {
    width: 100px;
    height: 313px;
    margin: -80px 0 0 5px;
  }

  .bottom-link {
    margin: 2px;
    padding: 5px;
    font-size: 10px;
    letter-spacing: 1.5px;
  }
}